@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif; 
}

@keyframes highlight-fade {
  0% { background-color: rgba(59, 130, 246, 0.2); } /* Blue tint */
  100% { background-color: transparent; }
}
.animate-highlight {
  animation: highlight-fade 1s ease-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.6s ease-out both;
}

body {

  font-family:  var(--font-poppins);
}
